*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

iframe {
    width: 100%;
    height: 100%;
}

.form_anchor {
    padding-top: 12px;
}

.generated_form {
    align-self: center;
    max-width: 400px;
    margin: auto;
}

.fields_group {
    margin-bottom: 24px;
    padding: 12px;
    border: 1px dotted;
}

.fields_group_title {
    margin-bottom: 18px;
    width: 100%;
    text-align: center;
}

.form_field_wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.form_field_label {
    font-weight: bold;
    margin-bottom: 6px;
}

.form_field {
    width: 100%;
    height: 26px;
    border: 1px solid;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 8px;
}